section {
    width: 500px;
    height: 500px;
    background-color: magenta;
}

#rgba {
    width: 50%;
    height: 50%;
    background-color: rgba(255,255,255,0.7) 
    /* rgba transparency only applies to this block backgruond color */
}

#opacity {
    width: 50%;
    height: 50%;
    background-color: yellow;
    opacity: 0.3; 
    /* opacity applies to all elements in the block*/
}