img{
    width: 30%;
    margin: calc(10%/6);
}

nav{
    text-transform: uppercase;
    border-bottom: 2px solid grey ;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 20px 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em
}